<div class="container">

    <div class="row">
         <div class="col-md-6 routerOutlet">
            <router-outlet></router-outlet>
        </div>

        <div class="col-md-6">
            <div>
                <div class="form-container">
                    <form [formGroup]="form" (ngSubmit)="aanpassen()">
                        <div  class="input_div form-group">
                            <label>Naam:</label>
                            <input type="string" id="naam" formControlName="naam" class="form-control">
                        </div>
                
                        <div class="input_div form-group">
                            <label>Prijs €:</label>
                            <input type="number" id="prijs" step="0.01" formControlName="prijs" class="form-control">
                        </div>
                
                        <div  class="input_div form-group">
                            <label>Afbeelding:</label>
                            <input type="file" id="img" (change)="selectImg($event)">
                        </div>
                        
                        <div  class="input_div form-group">
                            <label>Fabrikant:</label>
                            <input type="string" id="fabrikant" formControlName="fabrikant" class="form-control">
                        </div>
                
                        <div  class="input_div form-group">
                            <label>Beschrijving:</label>
                            <textarea id="beschrijving" formControlName="beschrijving" class="form-control">
                            </textarea>
                        </div>
                
                        <div>
                            <button mat-raised-button class="aanpassen" aria-label="Button that displays a tooltip when focused or hovered over"
                            (click)="aanpassen()">Aanpassen</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<button mat-raised-button class="close" aria-label="Button that displays a tooltip when focused or hovered over"
matTooltip="Sluit het venster" (click)="closeSccreen()">
<mat-icon mat-fab>close</mat-icon>
</button>

</div>