.ms-auto {
    margin-left: auto;
}

.right-align {
    margin-right: 20px;
}

.dropdown-menu {
    margin-left: -55px;
    width: 150px;
    padding: 5px;
}

.nav-item.dropdown .dropdown-item {
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
}

.dropdown-divider{
    padding: 0px;
    margin: 4px;
}

/*-----------------------------*/
.signUp {
    color: #398a5b;
}

.signUp.active {
    background-color: #398a5b;
    color: white;
}

/* Kleur als je klik inhoudt. */
.nav-item.dropdown .dropdown-item.signUp:active {
    background-color: #398a5b;
    color: white;
}

/*-----------------------------*/

.logout{
    color: white;
    background-color: #b23b3b;
}

.logout:hover{
    background-color: #6b1d1d;
}

.nav-item.dropdown .dropdown-item.logout:active {
    background-color: #6b1d1d;
}