/* center alles van de sign up component */
:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

form{
    width: 500px;
    border: 1px solid green;
}

/* li elemneten algemeene stijl */
li {
    margin-left: 25px;
}

/*------------------------*/
/* algemeente stijl email */
.divEmailAll{
    border: 1px solid pink;
    padding: 5px;
}

/*------------*/
.email{
    border: 1px dashed blue;
}

.email input{
    float: right;
    width: 350px;
}

.email::after{
	content:"";
	display: block;
	clear: both;
}

/*------------------------*/
/* algemeente stijl passwd */
.divPasswdAll{
    border: 1px solid purple;
    padding: 5px;
}

/*------------*/
.passwd{
    border: 1px dashed black;
}

.passwd input {
    float: right;
    width: 350px;
}

.passwd::after{
	content:"";
	display: block;
	clear: both;
}
/*------------------------*/
button{
    display: block;
    margin: 10px auto 0;
}

/*------------------------*/
/* error mssg */
.help-block{
    color: red;
    font-style: italic;
}

/* error paswoord niet voldoen */
.passwdInValid{
    color: red;
}

/*------------*/
/* error paswoord voldoen */
.passwdValid{
    color: green;
}