<table>
    <tr>
        <th>Naam</th>
        <th>Email</th>
        <th>Role</th>
    </tr>

    <tr *ngFor="let user of adminService.users">
    <!-- <tr *ngFor="let user of users"> -->
        <td [ngClass]="{'isUser': auth.getUid() == user.id}">{{ user.voornaam + user.achternaam }}</td>
        <td [ngClass]="{'isUser': auth.getUid() == user.id}">{{ user.email }}</td>
        <td [ngClass]="{'isUser': auth.getUid() == user.id}">{{ user.role }}</td>
        <td>
            <button class="user" *ngIf="!(auth.getUid() == user.id) && user.role == 'User'" (click)="makeAdmin(user)">make Admin</button>
            <button class="admin" *ngIf="!(auth.getUid() == user.id) && user.role == 'Admin'" (click)="makeUser(user)">make User</button>

        </td>
    </tr>

    
</table>