<div class="container">
    <h1>Item toevoegen</h1>

    <div class="form-container">
        <form [formGroup]="form" (ngSubmit)="toevoegen()">
            <p class="verplicht">* is verplicht</p>
            <div  class="input_div form-group">
                <label>Naam*:</label>
                <input type="text" id="naam" formControlName="naam" class="form-control">
                <span class="verplichtVeld" *ngIf="form.get('naam')?.invalid">Je moet dit veld invullen</span>
            </div>

            <div class="input_div form-group">
                <label>Prijs* €:</label>
                <input type="number" id="prijs" formControlName="prijs" step="0.01" class="form-control">
                <span class="verplichtVeld" *ngIf="form.get('prijs')?.invalid">Je moet dit veld invullen</span>
            </div>

            <div  class="input_div form-group">
                <label>Afbeelding:</label>
                <!-- <input type="file" id="img" [(ngModel)]="img" accept="image/*"> -->
                <input type="file" id="img" (change)="selectImg($event)">
            </div>
            
            <div  class="input_div form-group">
                <label>Fabrikant*:</label>
                <input type="text" id="fabrikant" formControlName="fabrikant" class="form-control">
                <span class="verplichtVeld" *ngIf="form.get('fabrikant')?.invalid">Je moet dit veld invullen</span>
            </div>

            <div  class="input_div form-group">
                <label>Beschrijving:</label>
                <textarea id="beschrijving" formControlName="beschrijving" class="form-control">
                </textarea>
            </div>

            <div>
                <button mat-raised-button class="add" aria-label="Button that displays a tooltip when focused or hovered over"
                matTooltip="Voeg een bedrag toe" type="submit">toevoegen</button>
            </div>
        </form>
    </div>

    <button mat-raised-button class="close" aria-label="Button that displays a tooltip when focused or hovered over"
        matTooltip="Sluit het venster" (click)="closeDialog()">
        <mat-icon mat-fab>close</mat-icon>
    </button>
</div>
