<div class="header">
    <h1>Welkom terug</h1>
    <P>Login om de volledige functionaliteit te kunnen gebruiken.</P>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group divEmailAll">
        <div class="email">
            <label for="email">Email:</label>
            <input id="email" type="email" formControlName="email" class="form-control" placeholder="wishlist@gmail.com">
        </div>
        <span *ngIf="email.touched && !email.valid" class="help-block">Geef een geldig email in.</span>
    </div>
    <div class="form-group divPasswdAll">
        <div class="passwd-label">
            <label for="passwd">Paswoord:</label>
            <div class="passwd">
                <input id="passwd" [type]="showPassword ? 'text' : 'password'" formControlName="passwd" class="form-control">
                <button type="button" (click)="togglePasswordVisibility()" class="toggle-passwd-btn">
                    <img [src]="showPassword ? '../../../assets/icon/eye-symbols-show-visible.png' : '../../../assets/icon/eye-symbols-hide-visible.png'" alt="Toggle Password Visibility">
                </button>
            </div>
        </div>
    </div>
    <div class="submit">
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">submit</button>
        <button class="btn btn-info tip" (mouseover)="showTooltip= true" (mouseleave)="showTooltip= false" 
        (mousedown)="keepHover = true" 
        (mouseup)="keepHover = false"
        [ngClass]="{'active': keepHover}">?</button>
        <span class="tip-tekst" *ngIf="showTooltip">Vul alstublieft alle verplichte velden in.
            <br>
            Nog in te vullen velden:
            <ul>
                <li *ngIf="!email.valid">Email</li>
                <li *ngIf="!passwd.valid">Paswoord</li>
            </ul>
        </span>
    </div>
</form>
