<div *ngIf="!isLoggedIn">
<h1>Welkom in onze app.</h1>

<p>Log alstublief in of maak een account zodat u volledig van de app gebruik kan maken.</p>

<img [src]="Logo" [alt]="Logo" />


<div class="button">
    <button class="login btn btn-primary" (click)="login()">Login</button>
    <button class="signUp btn btn-success" (click)="signUp()">Sign up</button>
</div>
<!-- Mss het logo hier zetten. -->
</div>

<div *ngIf="isLoggedIn">
    <h1>Welkom terug in onze app.</h1>
    
    <p>Maak gebruik van de app</p>

    <img [src]="Logo" [alt]="Logo" />
    
    <div class="buttonCenter">
        <button class="logout btn btn-primary" (click)="logout()">logout</button>
    </div>
    <!-- Mss het logo hier zetten. -->
    </div>